ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.main-title {
  margin-bottom: 50px;
}

/* header */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15 px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.page-navigation {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-item-header {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}

.link-kontakt {
  font-style: normal;
  display: flex;
}

.kontakt-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-item {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contact-item:hover {
  color: #404bbf;
}

.contact-item:focus {
  color: #404bbf;
}

/* andheader */

/* 1 section */

.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
}

.section-title-container {
  padding-right: 472px;
  padding-left: 472px;
  color: D9D9D9;
  margin-bottom: 48px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  height: 56px;
  min-width: 169px;
  border: none;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-button:hover {
  background-color: #404bbf;
}

.main-button:focus {
  background-color: #404bbf;
}
/* andsection 1 */

.page-header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.title-team {
  color: #2e2f42;
  font-family: Roboto;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.main-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-section-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-section-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.02em;
}

.section-team {
  background-color: #f4f4fd;
  padding-top: 60px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  display: flex;
  gap: 24px;
}

.section-team-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team-tittle {
  background-color: #ffffff;
  width: calc((100%-72) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-profession {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* 4 section */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-cont {
  width: calc((100% - 48px) / 3);
}
.portfolio-inf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
}

.name_profession {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* footer */

.footer-web {
  background-color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.main-section-container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.sec-cont {
  gap: 24px;
  display: flex;
}

.main-list-cont {
  width: calc((100% - 72px) / 4);
}
.logo-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
